<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Your Dashboard
</h1>

<table class="content-table">
  <thead>
    <tr>
      <td> Product </td>
      <td> Desired Price </td>
      <td> Product Price </td>
      <td> Within Budget? </td>
    </tr>
  </thead>
  <tbody>
    {%for i in range(0, length)%}
    <tr>
      <td>
        <a href={{ url_list[i].url }}>
            <img src="{{thumbnail_lst[i]}}" width="100" height="100"> 
        </a>
      </td>
      <td>${{ url_list[i].price }}</td>
      <td>${{ actual_prices_lst[i] }}</td>
      {% if can_buy[i] == True %}
      <td><p style="color: #00FF00">Yes</p></td>
      {% else %}
      <td><p style="color: #FF0000">No</p></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}