<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>

<form method="POST" action="/subscribe">
  <div class="field">
      <div class="control">
          <h3 style="font-weight: 700">Please enter your Newegg.ca product URL and desired price in CAD below:</h3>
          <input class="input is-large" type="text" name="url" placeholder="Your URL" autofocus="" style="margin-top: 10px">
      </div>
  </div>

  <div class="field">
      <div class="control">
          <input class="input is-large" type="text" name="price" placeholder="Your Price">
      </div>
  </div>
  <div class="success_message">
    {% if subscribed == True %}
    Nice! Your URL has been successfully added to your tracking list!
    {% endif %}
  </div>
  <div class="buttons">
    <button class="button is-info is-large">
        Add URL
    </button>
  </div>

</form>
<div class="buttons">
  <form action="/dashboard">
    <button class="button is-info is-large" style="margin-top: 10px" id="my_centered_buttons"> View Dashboard </button>
  </form>
</div>

{% endblock %}